<h1><%= @merchant.name %></h1>

<h2><%= link_to "Create New Discount", new_merchant_bulk_discount_path(@merchant) %></h2>

<h2>Discounts:</h2>
<% @bulk_discounts.each do |discount| %>
  <li id="bulk-discount-<%= discount.id %>">
    <%= link_to "#{discount.percentage_discount * 100}% off
      #{discount.quantity_threshold} items", merchant_bulk_discount_path(@merchant, discount)  %>
    <%= link_to "Delete", merchant_bulk_discount_path(@merchant, discount), method: :delete %>
  </li>
<% end %>

<div class="api">
  <h2>Upcoming Holidays:</h2>
  <% @holidays.each do |holiday| %>
    <p><%= holiday.name %>: <%= holiday.date %></p>
  <% end %>
</div>
